@import "tailwindcss";
@source "./src";

@theme {
  --font-sans: "RefrigeratorDeluxe", "Inter", sans-serif;

  /* Force HEX for FiveM/CEF Compatibility (OKLCH not supported) */
  --color-green-500: #22c55e;
  --color-blue-500: #3b82f6;
  --color-yellow-500: #eab308;
  --color-gray-300: #d1d5db;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-600: #ea580c;

  /* Semantic Tokens */
  --color-surface-dark: var(--color-zinc-900);
  --color-surface-light: var(--color-zinc-800);

  --color-border-light: var(--color-zinc-600);
  --color-border-dark: var(--color-zinc-700);

  --color-text-muted: var(--color-zinc-500);
  --color-text-subtle: var(--color-zinc-400);

  --color-primary: var(--color-orange-500);
  --color-success: var(--color-green-500);
  --color-error: var(--color-red-500);
}

:root {
  --sb-track-color: transparent;
  /* Zinc-950/Black blend - Darker to blend with bg */
  --sb-thumb-color: #52525b;
  /* Zinc-600 - Visible but not too bright */
  --sb-thumb-hover-color: #71717a;
  /* Zinc-500 - Lighter on hover */
  --sb-size: 5px;
  /* Sleek, thin */
}

@font-face {
  font-family: "RefrigeratorDeluxe";
  src: url('./assets/fonts/RefrigeratorDeluxe-regular.otf') format('opentype');
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: RefrigeratorDeluxe, system-ui, sans-serif;
  font-size: 16px;
  user-select: none;
}

/* Global Scrollbar */
*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover-color);
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}

/* Utilities */
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}